<div class="d-flex">
  @for (report of reports; track $index) { @if(report.active == true){
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <div class="m-2">
        <h5 class="card-title">{{ report.itemName | uppercase }}</h5>
        <p class="card-text">
          {{ report.description }}
        </p>
        <hr />
        <p class="card-text">{{ report.userName }} {{ report.userLastName }}</p>
        <hr />
        <p class="card-text">{{ report.userEmail }}</p>
        <hr />
      </div>
    </div>
  </div>
  }}
</div>
