<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <div class="title-box">
    <h1>EMPLOYEE MANAGEMENT</h1>
  </div>

  <!-- <a class="btn btn-primary btn-nueva"><b>+</b> Add Shelf </a> -->
  <button class="btn btn-primary mb-3" (click)="addEmployee()">
    Add Employee +
  </button>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index){
      <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.roleName }}</td>
        <td>
          <div class="d-flex justify-content-center">
            <span
              class="icon edit material-symbols-outlined me-3"
              (click)="updateEmployee(user.email)"
              >edit</span
            >
            <span
              class="icon delete material-symbols-outlined"
              (click)="delete(user.email)"
              >delete</span
            >
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
