<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLink]="['./home']"
            [relativeTo]="route"
            class="nav-link"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLink]="['./shelf']"
            [relativeTo]="route"
            class="nav-link"
            >SHELF</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLink]="['./item']"
            [relativeTo]="route"
            class="nav-link"
            >ITEM</a
          >
        </li>
        @if (role =='rapor_kullanicisi') {
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLink]="['./report']"
            [relativeTo]="route"
            class="nav-link"
            >REPORT</a
          >
        </li>
        } @else if(role =='admin') {
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLink]="['./user']"
            [relativeTo]="route"
            class="nav-link"
            >EMPLOYEES</a
          >
        </li>
        }
      </ul>
      <!-- justify-content-end align-items-center -->
      <div class="dropdown dropstart">
        <button
          class="btn btn-success rounded-circle dropdown-toggle"
          data-toggle="dropdown"
          type="button"
          data-bs-toggle="dropdown"
        >
          {{ getChar() | uppercase }}
        </button>
        <ul class="dropdown-menu" style="background-color: #1c2841">
          <li>
            <a
              class="dropdown-item text-light"
              routerLinkActive="active"
              [routerLink]="['./profile']"
              [relativeTo]="route"
              >Profile</a
            >
          </li>
          <li class="mt-1">
            <a
              class="dropdown-item text-danger"
              (click)="logout()"
              style="cursor: pointer"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- 
<button class="btn btn-primary"></button> -->
<router-outlet />
