/* You can add global styles to this file, and also import other style files */
$edit-color: #E9C874;
$delete-color: #A34343;
$disabled-color :#808080 ;
$report-color :#0B6623 ;
$blue : #0d6efd;
$plus-color: #00b436;
$minus-color: #fc998c;
$navy-color:#1B3856;


html, body { height: 100%; }
body { margin: 0; font-family:Poppins, Roboto, "Helvetica Neue", sans-serif; }

.title-box {
    padding: 2rem 1.5rem 0 1.5rem;
    text-align: center;
}

.searchBox{
    border: 2px solid $navy-color;
    border-radius: 6px;
    padding: 0.5rem;
    &:focus{
      outline: none;
      box-shadow:0 0px 2px 1px rgba(0, 0, 0, 0.8) ;
    }
  }

  .icon:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  .edit{
    color: rgba($edit-color,1.0);
    &:hover{
      color: rgba($edit-color, 0.7);
    }
    
  }
  .delete{
    color: rgba($delete-color,1.0);
    &:hover{
      color: rgba($delete-color, 0.7);
    }
  }
  .plus{
    color: rgba($plus-color,1.0);
    &:hover{
      color: rgba($plus-color, 0.7);
    }
  }
  .minus{
    color: rgba($minus-color,1.0);
    &:hover{
      color: rgba($minus-color, 0.7);
    }
  }
  .report{
    color: rgba($report-color,1.0);
    &:hover{
      color: rgba($report-color, 0.7);
    }
  }
  .disable{
    pointer-events: none;
    color: rgba($disabled-color, 0.6);
    }

    .mt-4 * td{
      font-size: 1rem;
    }

//////////////////////////



[data-bs-theme="dark"] {
  //--bs-body-bg: #31363F;
  --bs-body-bg:#212529;
  .table{
    --bs-table-bg: #171a1c;
    --bs-table-color:white; 
    border: 1px solid $navy-color;
  }
  .table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-color-type:white;
  }

  .mat-mdc-table .mat-mdc-header-cell{
    background-color: var(--bs-body-bg);
    color: white;
  }
  .mat-mdc-paginator-container{
    background-color: var(--bs-body-bg);
    color: white;
  }
  .mat-mdc-select,.mat-sort-header-arrow{
    color:white !important;
  }

  .mat-mdc-paginator-icon{
    fill: white;
  }

  .mat-mdc-select-arrow svg{
    fill:white;
  }
  .mdc-text-field{
    border: 1px solid white;
    border-radius: 6px;
  }

  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }

  input.mat-input-element {
    color: white !important;
  }

  .mat-mdc-select-panel{
    background-color: var(--bs-body-bg);
  }
  .mat-mdc-option{
    color:white;
  }
}


[data-bs-theme="light"]{

  // --bs-body-bg:#FFF6E6;
  .mat-mdc-table .mat-mdc-header-cell {
    color: black;
  }
  .mat-mdc-paginator-container{
    color:black;
  }
  .table{
    border: 1px solid #E0E0E0;
  }
}


.blurBackGround{
  filter: blur(1px);
  background-color:rgb(91 91 91 / 71%);
  opacity: 2 !important;
}